@page
@model Earth.Pages.EarthModel.EditModel

@{
    ViewData["BodyClass"] = "earthmodel-page";
    ViewData["Title"] = "Edit";
}

<h1 style="color:white;">Edit</h1>

<div style="color:white;">
<h4>EarthModel</h4>
</div>
<hr />
<div class="row" style="color:white;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EarthModel.ID" />
            <div class="form-group">
                <label asp-for="EarthModel.Question" class="control-label"></label>
                <input asp-for="EarthModel.Question" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarthModel.OptionA" class="control-label"></label>
                <input asp-for="EarthModel.OptionA" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.OptionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarthModel.OptionB" class="control-label"></label>
                <input asp-for="EarthModel.OptionB" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.OptionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarthModel.OptionC" class="control-label"></label>
                <input asp-for="EarthModel.OptionC" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.OptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarthModel.OptionD" class="control-label"></label>
                <input asp-for="EarthModel.OptionD" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.OptionD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarthModel.CorrectAnswer" class="control-label"></label>
                <input asp-for="EarthModel.CorrectAnswer" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarthModel.Explanation" class="control-label"></label>
                <input asp-for="EarthModel.Explanation" class="form-control mb-3" />
                <span asp-validation-for="EarthModel.Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
