@page
@model Earth.Pages_AdminExploreTopics.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExploreTopic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExploreTopic.Id" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ExploreTopic.Title" class="control-label"></label>
                <input asp-for="ExploreTopic.Title" class="form-control" aria-required="true"/>
                <span asp-validation-for="ExploreTopic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ExploreTopic.ShortDescription" class="control-label"></label>
                <input asp-for="ExploreTopic.ShortDescription" class="form-control" aria-required="true"/>
                <span asp-validation-for="ExploreTopic.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ExploreTopic.ImagePath" class="control-label"></label>
                <input asp-for="ExploreTopic.ImagePath" class="form-control" aria-required="true"/>
                <span asp-validation-for="ExploreTopic.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ExploreTopic.FullContent" class="control-label"></label>
                <input asp-for="ExploreTopic.FullContent" class="form-control" aria-required="true"/>
                <span asp-validation-for="ExploreTopic.FullContent" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ExploreTopic.KeyFacts" class="control-label"></label>
                <input asp-for="ExploreTopic.KeyFacts" class="form-control" aria-required="true"/>
                <span asp-validation-for="ExploreTopic.KeyFacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExploreTopic.CreatedDate" class="control-label"></label>
                <input asp-for="ExploreTopic.CreatedDate" class="form-control" />
                <span asp-validation-for="ExploreTopic.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
